<div>
  <p id="title">{{ invitation.subject }}</p>
  <p id="status">{% if invitation.status == -1 %}
    <span class="warning">canceled</span>
    {% elif invitation.status == 0 %}
    <span class="pending">pending</span>
    {% elif invitation.status == 1 %}
    <span class="complete">complete</span>
    {% endif %}
  </p>

  <blockquote id="body">
    <pre><code>
    {{ invitation.body }}
    </code></pre>
  </blockquote>

  <p id="date">
    {{ invitation.meeting_date | humanize('naturalday') }},
    for {{ invitation.duration }} minute(s).
  </p>

  <div id="owner">
    <header>Owner</header>
    {{ invitation.owner.userid }}
  </div>

  <div id="attendees">
    <header>Attendees</header>
    <ul>
      {% for attendee in invitation.attendees %}
      <li>{{ attendee.userid }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
